<section ng-controller="OtherPagesCtrl">
    <article class="col-lg-3 col-md-3 col-sm-2">
        <div class="sectionTitle">Another page test</div>

        <div class="links">
            <a href="#/">tutorialTest</a>
            <a href="#/page2">Page 2</a>
            <a href="#/page3">Page 3</a>
            <a href="#/badLink">Bad link</a>
        </div>

    </article>

    <article class="col-lg-3 col-md-3 col-sm-2">
        <div class="sectionTitle">Working with router</div>
        <p class="appSubTitle">Let's play along with {{otherPagesComp}}</p>
    </article>
</section>