<section ng-controller="OtherPagesCtrl">
    <article class="col-lg-3 col-md-3 col-sm-2">
        <div class="sectionTitle">Page 2</div>

        <div class="links">
            <a href="#/">tutorialTests</a>
            <a href="#/anotherPageTest">Another page test</a>
            <a href="#/page3">Page 3</a>
            <a href="#/badLink">Bad link</a>
        </div>

    </article>

    <article class="col-lg-3 col-md-3 col-sm-2">
        <div class="sectionTitle">Page 2</div>

        <p class="appSubTitle">Let's play along with {{otherPagesComp}}</p>
    </article>
</section>